html {
	position: relative;
	min-height:100%; /* needed for container min-height */
}

body {
	margin-bottom: 50px;
	box-sizing: border-box;
	background: url("../recipes.jpg") no-repeat center center fixed;
	background-size: cover;
}

.container-white {
	position:relative; /* needed for footer positioning*/
	margin-top:50px;
	background:#ffffff;
	height:auto;
	min-height:100%;
	opacity:1;
}

.container-opaque {
	position:relative; /* needed for footer positioning*/
	margin-top:50px;
	background:none;
	height:auto;
	min-height:100%;
	opacity:1;
	color:#FFFFFF
}

.verticalFiller {
    display:block;
    position:absolute;
    height:100%;
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index: -9999;
    background-color: #ffffff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

/* Center the footer copyright text */ 
.navbar-center
{
	padding: 15px 15px;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 85%;
}

/* .glyphicon {
	font-size: 10px;
} */

.glyphicon-envelope
.glyphicon-print  {
	font-size: 60px;
}

.select-placeholder{color: #999;}
.select-placeholder option:first-child{color: #999; display: none;}
.select-placeholder option{color: #555;} /* bootstrap default color */

.spacer-vert-lg {
	margin-top:60px;
}

.spacer-vert-md {
	margin-top:45px;
}

.spacer-vert-sm {
	margin-top:30px;
}

.spacer-vert-xs {
	margin-top:15px;
}

.recipe-table {
	margin-bottom:0;
	margin-left:20px;
	width:auto;
}

.searchbox {
	background-color:#264c73;
	color:#ffffff;
	border:none;
	padding:3px;	
}

.header-blue {
	color:#336699;
}

<!-- #990000 nice dark maroon color -->