html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
	background:gray;
}

body {
	background: url("../recipes.jpg") no-repeat center center fixed;
	background-size: cover;
}

/* .body-image {
	background: url("../recipes.jpg") no-repeat center center fixed;
	background-size: cover;
}

.body-color {
	background:gray;
} */

.container-white {
	position:relative; /* needed for footer positioning*/
	margin-top:-50px;
	margin-bottom:-50px;
	background:#ffffff;
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
}

.container-opaque {
	position:relative; /* needed for footer positioning*/
	margin-top:-50px;
	margin-bottom:-50px;
	background:none;
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
	opacity:1;
	color:#FFFFFF
}

.content {
	min-height: 100%;
    height: auto;	
}

/* Center the footer copyright text */ 
.navbar-center
{
	padding: 15px 15px;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 85%;
}